* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    background-color: black;
    color: white;
    margin: 1em 0;
    padding: 0.5rem 1rem;
}

.football_kit {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 1rem;
    flex-direction: column;
}

.football_kit .preview {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.form-group {
    margin-bottom: 1.2em;
    font-size: 1.2rem;
}

.form-group label {
    display: block;
}

.form-control[type="text"] {
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    text-transform: uppercase;
}

.form-control[type="text"]:focus {
    border-bottom: 2px solid black;
}

.form-select {
    font-size: 1.2rem;
    width: 100%;
}

@media screen and (min-width: 361px) {
    html,
    body {
        height: 100vh;
    }
    .football_kit {
        flex-direction: row;
    }
}
